<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--type属性的完整格式为：配置节处理器类名,程序集名称,Version=程序集版本号,Culture=区域信息,PublicKeyToken=公钥-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />

  </configSections>
  <log4net>
    <!--所有logger的基，root的设置在所有logger中都起作用。   
   当在root和logger中重复设定相同的appender时，你会发现同一日志信息将被记录两次。-->
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />

    </root>
    <!--日志记录器logger，可以有多个-->
    <logger name="AppLogger">
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />

    </logger>
    <logger name="Form1">
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />

    </logger>

    <!--输出到文件-->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Log4Net/" />
      <param name="AppendToFile" value="true" />
      <!-- 切割最多文件数 -1表示不限制产生日志文件数-->
      <param name="MaxSizeRollBackups" value="-1"/>
      <!-- 每个文件的大小限制  -->
      <param name="MaximumFileSize" value="10MB"/>
      <!-- RollingStyle Composite 综合  Size 按大小  Date 按时间 -->
      <param name="RollingStyle" value="Composite" />
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="Header" value="&#xD;&#xA;----------------------application startup--------------------------&#xD;&#xA;" />
        <param name="Footer" value="&#xD;&#xA; ----------------------application shutdown--------------------------&#xD;&#xA;" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c - (%line)  %m%n" />

      </layout>

      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />

      </filter>

    </appender>

    <!--输出控制台-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />

      </layout>

    </appender>

  </log4net>

</configuration>
